{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section_01</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'Styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
</head>
<body class="section_1">
    <div class="horizontal-slide  ">
        <div class="relative top-0 left-0 w-full h-full">
            <img src="{%static 'Images/img.png'%}" class="w-full h-full object" alt="Background Image">
        </div>
        
        <!-- <div class="absolute top-[7rem] w-[100rem] text-center text-white bg-[#5D0A21] p-4">
            <h1 class="text-white text-xl">Based in India | Serving Clients Worldwide</h1>
        </div>  -->
        <!-- <div class="absolute max-w-5xl left-40 top-[10rem]">
            <h2 class="font-extrabold text-4xl merriweather-custom  text-[#6C0D22]">Who We Are  </h2>
            <h2 class="text-4xl py-2 merriweather-custom font-bold text-[#5D4343] mb-4">We Bridge the Gap Between <br/> Vision & Execution</h2>
            <img src="{%static 'Images/section_01_Image.png'%}" class="h-[26rem] w-[25rem]" >
        </div>
        <div class="absolute max-w-8xl p-4 ml-[40rem] top-[11rem]">
            <p class="text-[18px] merriweather-custom p-4">WolfEag Consultancy is a digital transformation company in India, born <br/>from the experience of developers, project managers, and <br/>consultants who’ve worked across industries, seen the gaps in <br/>execution, and decided to build something better.</p>
            <p class="text-[18px] merriweather-custom p-4">Our founding team came together after years of witnessing how <br/>businesses often struggle with misaligned tech teams, unclear <br/>roadmaps, and poor-quality delivery. So we created WolfEag — a<br/>consultancy designed to simplify execution, deliver real expertise,<br/>and treat clients as partners, not projects.</p>
            <p class="text-[18px] merriweather-custom p-4">Whether you’re building a product, hiring a team, launching an <br/>MVP, or managing global delivery — we’re your full-stack <br/>development agency and expert tech consulting team, aligned to <br/>your outcomes from day one. </p>
        </div>
        <div class="absolute max-w-5xl  ml-[30rem] bottom-[4rem] text-[#5D4343]">
            <p class="text-[16px] merriweather-italic text-bold ">“Your trusted technology partner for scalable web apps, custom software, startup MVPs, and <br/>smart hiring solutions.<br/>From AI integration to GST compliance — we deliver what growing businesses really need.”</p>
        </div> -->
        
        
        
        <div class="absolute max-w-xl max-h-xl left-[70rem] top-[7rem] bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_01.png'%}">
            <h2 class="ml-[5rem] mt-[-3rem] text-[20px] merriweather-custom">Client-First Execution</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div>
        <div class="absolute max-w-xl max-h-xl left-[70rem]  bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_02.png'%}">
            <h2 class="ml-[5rem] mt-[-4rem] text-[20px] merriweather-custom">Real Experts, <br/>Not Just Labels</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div>
        <div class="absolute max-w-xl max-h-xl left-[70rem] bottom-[7rem] bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_03.png'%}">
            <h2 class="ml-[5rem] mt-[-3rem] text-[20px] merriweather-custom">Client-First Execution</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div>

        <div class="absolute w-[50rem] opacity- h-[40rem] mt-[2rem] rounded-[2rem] bg-[#5D0A21]  ml-[-35rem] ">
            
            <div class="flex justify-center items-center mt-[2rem]">
              <h1 class="coda-regular text-6xl md:text-12xl text-white font-bold">Who We Are</h1>
            </div>
            <div class="flex justify-center items-center mt-[1rem]">
                <h3 class="encode-sans-semi-expanded-bold text-xl md:text-12xl text-white font-bold ">“We Bridge the Gap Between Vision & Execution”</h3>
            </div>
            <div class="flex justify-left items-left p-4">
                <p class="encode-sans-semi-expanded-bold text-xl text-white">WolfEag Consultancy is a digital transformation company in India, born from the experience of developers, project managers, and  consultants who’ve worked across industries, seen the gaps in execution, and decided to build something better.<br/><br/>So we created WolfEag — a consultancy designed to simplify execution, deliver real expertise, and treat clients as partners, not projects.</p>
            </div>
            <div class="flex justify-left items-left p-4">
                <p class="space-monobold text-3xl text-white">Whether you’re building a product, hiring a team, launching an MVP, or managing global delivery — we’re your full-stack development agency and expert tech consulting team, aligned to your outcomes from day one. </p>
            </div>

        </div>
    </div>
    
</body>
</html>