{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section_2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body >
    <div class="horizontal-slide bg-[#491222] ">
        <!-- <div class="absolute max-w-xl max-h-xl left-[90rem] top-[7rem] bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_01.png'%}">
            <h2 class="ml-[5rem] mt-[-3rem] text-[20px] merriweather-custom">Client-First Execution</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div>
        <div class="absolute max-w-xl max-h-xl left-[90rem]  bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_02.png'%}">
            <h2 class="ml-[5rem] mt-[-4rem] text-[20px] merriweather-custom">Real Experts, <br/>Not Just Labels</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div>
        <div class="absolute max-w-xl max-h-xl left-[90rem] bottom-[7rem] bg-white p-6 rounded-lg shadow-lg ">
            <img src="{%static 'Images/icons/icon_03.png'%}">
            <h2 class="ml-[5rem] mt-[-3rem] text-[20px] merriweather-custom">Client-First Execution</h2>
            <p class="mt-[2rem] text-[16px] merriweather-italic text-bold">We care about what you want to build, not <br/> what we want to sell.</p>

        </div> -->
        <div class="relative w-full h-auto bg-black top-[-1.32rem] left-0">
            <img src="{%static 'Images/section_02_top.png'%}" alt="top image" class="w-full sm:mt-[-rem] md: lg:mt-[-17rem]  xl:mt-[-17rem] 2xl:mt-[-25rem] h-auto object-cover ">
        </div>
        <div class="absolute justify-center top-0 items-center">
            <h1 class="encode-sans-sc-regular text-center text-6xl md:text-[8rem] mt-[7rem] text-white ">With a panoramic <br> perspective</h1>
            <h2 class="encode-sans-sc-regular text-center text-4xl md:text-5xl mt-[4rem] text-white ">Our strength lies in creating </h2>
            <h2 class="encode-sans-sc-regular text-center text-4xl md:text-5xl mt-[2rem] text-white ">outcomes where tech works for</h2>
            <h2 class="encode-sans-sc-regular text-center text-4xl md:text-5xl mt-[2rem] text-white ">business, not the other way around.</h2>
        </div>
        <div class="absolute justify-center  items-left">
            <img src="{%static 'Images/section_02_bottom.png'%}" alt="bottom image" class="relative 2xl:mt-[40rem] xl:mt-[25rem] lg:mt-[20rem] md:mt-[15rem] sm:mt-[10rem] mb-[-10rem] left-0 w-[96rem] h-auto object-cover">
        </div>
    </div>
</body>